:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

* {
  box-sizing: border-box;
}

.select_bar{
  display: flex;
  list-style: none;
}

.select_item img{
  width: 2.5rem;
}

.select_item_color{
  
}

.select_item_blue{
  background-color: var(--color-blue);
}