:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

* {
  box-sizing: border-box;
}

body{
  background-color: rgb(60, 59, 63);
}

ul{
  list-style: none;
}

.logo{
  margin-top: 3rem;
}

.logo img{
  display: block;
  margin: auto;
}

.select_bar{
  display: flex;
}

.select_item{
  margin: 0.7rem;
  cursor: pointer;
}

.select_item img{
  width: 2.5rem;
}

.select_item_color{
  width: 4rem;
  text-align: center;
  padding-top: 0.6rem;
  border-radius: 5px;
}

.select_item_blue{
  background-color: var(--color-blue);
}

.select_item_pink{
  background-color: var(--color-pink);
}

.select_item_yellow{
  background-color: var(--color-yellow);
}

.item{
  border-radius: 5px;
  background-color: var(--color-white);
  padding: 0.5rem;
  display: flex;
}

.item img{
  width: 2.5rem;
  height: 2.5rem;
}