*{
    box-sizing: border-box;
}
.video{
    display: flex;
    margin: 4px;
    border: 1px solid black;
    transition: all 300ms ease;
}

.video:hover{
    transform: scale(1.02);
}

.img{
    width: 220px;
    height: 124px;
}

.video_info{
    margin: auto;
    margin-left: 1rem;

}

.title {
    margin-bottom:0;
}

.channel_title{
    margin-top: 0;
}